/**
 * @name Translucence
 * @version 1.0.6.3
 * @description A translucent/frosted glass Discord theme
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);

:root {
	--app-bg: rgba(40,40,35,0);
	--app-blur: 0px;
	--app-margin: 10px;
	--app-radius: 10px; /*	-	*/

	--accent-hue: 0;
	--accent-saturation: 100%;
	--accent-lightness: 70%;
	--accent-opacity: 1;
	--accent-text-color: #fff; /*	-	*/

	--sidebar-color: rgba(0,0,0,0.1);
	--main-content-color: rgba(0,0,0,0.2); /*	-	*/

	--message-color: rgba(91,113,99,0.3);
	--message-radius: 3px;
	--message-padding-top: 3px;
	--message-padding-side: 3px; /*	-	*/

	--reply-hue: 350;
	--reply-saturation: 100%;
	--reply-lightness: 90%;
	--reply-opacity: 0.3; /*	-	*/

	--textarea-color: rgba(0,0,0,0);
	--textarea-alpha: 0;
	--textarea-alpha-focus: 0;
	--textarea-text-color: rgba(255,255,255,1);
	--textarea-radius: 1px;  /*	-	*/

	--card-color: rgba(0,0,0,0.1);
	--card-color-hover: rgba(0,0,0,0.1);
	--card-color-select: rgba(0,0,0,0.1); /*	-	*/

	--button-height: 2px;
	--button-padding: 0 10px;
	--button-action-color: #000;
	--button-radius: 3px; /*	-	*/

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777; /*	-	*/

	--background-modifier-hover: rgba(255,255,255,0.1);
	--background-modifier-selected: rgba(255,255,255,0.1);
}

