#window {
  background-color: rgba(124,236,93,1);
  box-shadow: 0 10px 15px -3px rgba(70,60,133,1), 0 4px 6px -4px rgba(70,60,133,1);
  font-size: 2rem;
  font-family: "Windows";
}
#window #outer-box {
  padding: 0.15rem;
}
#window #outer-box #input {
  background-color: rgba(31,25,50,1);
  color: #5D54C5;
  border: none;
  border-bottom: 1px solid rgba(124,236,92,1);
  padding: 1rem 1rem;
  font-size: 3rem;
}
#window #outer-box #input:focus, #window #outer-box #input:focus-visible, #window #outer-box #input:active {
  border: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
#window #outer-box #scroll {
}
#window #outer-box #scroll #inner-box {
}
#window #outer-box #scroll #inner-box #entry {
  color: #7CEC5C;
  background-color: rgba(31,25,50,1);
  padding: 1rem 1rem;
}
#window #outer-box #scroll #inner-box #entry #img {
  width: 1rem;
  margin-right: 1rem;
}
#window #outer-box #scroll #inner-box #entry:selected {
  color: #C25F90;
  background-color: rgba(194,95,144,1);
  outline: none;
}
